.actions-wrapper {
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  margin-top: 5px;
}

button {
  all:unset;
  font-weight: 500;
  color: var(--text-highlight);
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 500px;
  margin-top: 8px;
  text-align: center;

  &.btn-primary {
    color: white;
    background-color: #E43A12;

    &:hover, 
    &:focus {
      background-color: #F3541C;
    }
  }

  &:hover, 
  &:focus {
    color: white;
    outline: 0.25rem solid var(--surface-secondary);
  }
}